.font-color{
    -fx-background-color: #a9a9a9 , white , white;
}




.text-white{
    -fx-text-fill: #ffffff;
    -fx-font-size: 26;
}

.text-title-white{
    -fx-text-fill: #808080;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.text-title-black{
    -fx-text-fill: #333333;
    -fx-font-size: 26;
    -fx-font-weight: bold;
}

.text-subtitle-black{
    -fx-text-fill: #333333;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.tf_box{
    -fx-background-color:transparent;
    -fx-border-color:#DEDEE4;
    -fx-border-width:0px 0px 1px 0px;
}
.tf{
    -fx-background-color:transparent;
}


.bordered-titled-title {
    -fx-background-color: white;
    -fx-translate-y: -16;
    -fx-font-size: 18;
}

.label-file {
    -fx-font-size: 14;
}

.bordered-titled-border {
    -fx-content-display: top;
    -fx-border-insets: 20 15 15 15;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.bordered-titled-content {
    -fx-padding: 26 10 10 10;
}

.margin{
    -fx-end-margin: 20;
}

.field-error{
    -fx-border-width: 1;
    -fx-border-color: red;
}

.field-success{
    -fx-border-width: 1;
    -fx-border-color: green;
}

/*.text-field {*/
/*    !*-fx-background-color: #a9a9a9 , white , white;*!*/
/*    !*-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*!*/
/*    -fx-background-color: #a9a9a9 , white , white;*/
/*    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
/*    -fx-min-height: 30;*/
/*    -fx-text-fill: #333333;*/
/*    -fx-font-size: 16;*/
/*    !*-fx-border-radius: 50px;*!*/
/*    !*-fx-background-radius: 50px;*!*/

/*}*/

/*.text-field:focused {*/
/*    !*-fx-background-color: #a9a9a9 , white , white;*!*/
/*    !*-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*!*/
/*    -fx-background-color: #a9a9a9 , white , white;*/
/*    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
/*}*/



.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-border-radius: 50px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.glyph-color{
    -fx-fill: #808080;
}

/**
///// CSS TABPAN
 */
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

/*.tab-pane:top *.tab-header-area {*/
/*    -fx-background-insets: 0, 0 0 1 0;*/
/*    !* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; !* 5 2 0 10 *!*/
/*    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; !* overridden as 5 2 0 0 *!*/
/*}*/



/** TableView**/
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #A4D5E2;
}
.table-view .column-header .label{
    -fx-text-fill: #146194;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-alignment: CENTER;
}

#align{
    -fx-alignment: CENTER;
}
.table-view .cell{
    -fx-font-size: 14px;

}
.table-row-cell:selected {
    -fx-background: #A4D5E2;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
    -fx-font-size: 14px;
}
/*.table-row-cell:odd:filled:selected {*/
/*    -fx-background: #146194;*/
/*}*/

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #A4D5E2,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

.table-view .table-column{
    -fx-alignment:CENTER;

}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #146194,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}


.content-area-circle-btns{
    -fx-background-color: #009C3A;
    -fx-background-radius: 100px;
    -fx-text-fill: #ffffff;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-radius: 100%;
}
.content-area-circle-btns:hover{
    -fx-background-color: #ffffff;
    -fx-border-color: #009C3A;
    -fx-background-radius: 100px;
    -fx-font-weight: bold;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-font-size: 14px;
    -fx-text-fill: #009C3A;
}
.content-area-circle-btns-icon{
    -fx-fill: #ffffff;
}
.content-area-circle-btns:hover .content-area-circle-btns-icon{
    -fx-fill: #009C3A;
}

.pane{
    -fx-border-color: #0747A6;
    -fx-border-radius: 50;
    /*-fx-background-color: #a9a9a9 , white , white;*/
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 50px;
}

.label-sur-pane{

    -fx-text-fill: #0747A6;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-label-padding: 5;
    -fx-min-height: 25;
    -fx-max-height: 25;
    -fx-border-radius: 15;
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 150px;

}

/**
/////////////////////////////////////////////////////////////////////////////////////////////
 */


.date-picker.text-field {
    -fx-font: 16px "Arial";
}

.text-input {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-font-weight: bold;
    -fx-text-fill: #146194;
    -fx-font-size: 16px ;
}
